* {
    padding: 0;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(36, 43, 67);
    max-width: 100%;
    overflow-x: hidden;
}

main {
    width: 100vw;

    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

h1 {
    border: 5px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-align: center;
}

/* Navbar Component */

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 5rem;
    background-color: #202020;
}

.navbar img {
    height: 100%;
    width: 100%;
}

.homebutton {
    font-size: 2.5rem;
    font-family: "Fira", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #28d886;
}

.homebutton a {
    text-decoration: none;
    color: #28d886;
}

.navlist ul {
    list-style-type: none;
}

.navlist a {
    text-decoration: none;
    color: #28d886;
    font-size: 1.5rem;
}

/* Cards */

article {
    width: 40vw;
    height: auto;

    display: grid;
    justify-content: center;
    align-items: center;

    min-height: 30vh;

    margin: 15px;

    border-radius: 10px;
    color: #28d886;
}

article img {
    width: 90%;
    height: 90%;
}

article form {
    display: grid;
    justify-content: center;
    align-items: center;
}

article form input {
    background-color: #2a4534;
    color: white;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #3d5f49;
    border-radius: 4px;
    box-sizing: border-box;
}

article form select {
    background-color: #2a4534;
    color: white;
    margin: 5%;
}

article form textarea {
    background-color: #2a4534;
    color: white;
    margin: 5%;
}

article form input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pageLink {
    width: 40vw;
    height: auto;
    min-height: 30vh;

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    justify-content: center;
    align-items: center;

    margin-top: 25px;

    color: #28d886;
}

.pageLink p {
    font-size: 2rem;
}

.detailCard {
    width: 25vw;
    background-color: #202020;
    position: relative;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

/* Add pages */
.addForm {
    grid-column-start: 2;
    background-color: #202020;
    height: auto;
}

/* Animal and Post */
.contentMain {
    grid-template-columns: auto auto auto;
}

.titleText {
    grid-column-start: 1;
    grid-column-end: 4;
    color: rgb(197, 197, 197);
    font-size: 2rem;
    padding: 5%;
}

/* Animal filter */
.animalFilter {
    grid-column-start: 3;
}

.animalFilter select {
    background-color: #2a4534;
    color: white;
    margin: 5%;
}

.animalFilter input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .detailCard {
        width: 35vw;
    }
}

@media only screen and (max-width: 600px) {
    .pageLink {
        grid-template-columns: auto;
    }

    .detailCard {
        width: 50vw;
    }

    article img {
        width: 80vw;
    }

    .contentMain {
        grid-template-columns: auto;
    }

    .titleText {
        grid-column-end: auto;
    }
}

/* Animations */
@keyframes slide-in {
    0% {
        top: 100px;
        opacity: 0%;
    }
    25% {
        top: 75px;
        opacity: 25%;
    }
    50% {
        top: 50px;
        opacity: 50%;
    }
    75% {
        top: 25px;
        opacity: 75%;
    }
    100% {
        top: 0px;
        opacity: 100%;
    }
}
